body {
  background: darkseagreen;
}

.App {
  font-family: sans-serif;
  margin-top: 20%;
}
.wish_box {
  margin-top: 20%;
  margin-left: 25%;
  margin-right: 25%;
  background: bisque;
  border-radius: 7px;
}

.card_main {
  padding: 15px;
}

.card_root {
  min-width: 275px;
}

.card_title {
  font-size: 14;
}

.card_pos {
  margin-bottom: 12;
}
.nav_class {
  background-color: gold;
}
